{% extends "MiRestaurante/padre.html" %}
{% load static %}
{% block content %}

<br>
<br>
    <div class="container">
       <h2 class="text-center text-dark">
           Acerca de Mi
       </h2>         
           <div class="col">
            <div class="">
                 <div class="text-center">
                    <p>Hola, me llamo Patricio. Tengo 21 años y estudio actuario en economia en la UBA. Decidí estudiar programación ya que mis profes de estadística me comentaron y me aconsejaron, estudiar programación, sql, analisis de datos, etc, ya que es el futuro y un actuario se complementa con esas habilidades y se requieren hoy en dia. Mi proyecto final es acerca de un restaurante digitalizado, o al menos ese es el intento, donde la gente pueda registrarse, pedir su comida y poder chequear sus pedidos mediante formulario. Espero que les guste</p>
                 </div>
            </div>
        </div>
       </div>
    </div>
    <br>
    <br>
    <br>
    <br>



{% endblock %}