{% extends "MiRestaurante/padre.html" %}
    {% load static }
{% block contenidoQueCambia %}

    
    <h1>Gastronomia</h1>
    <p> En el siguiente texto se van a mostrar nuestros platos (en caso que desee agregar un plato a su menú/orden, en la url haga /RestauranteFormulario)</p>
    <h3>Estos son nuestros platos:
        -Tortilla de papa
        -Milanesa napolitana con papas fritas
        -Pizza
        -Empanadas
        -Asado con papas fritas
        -Ensalada
        -Ravioles
        -Ñoquis

        Estas son nuestras bebidas:
        -Agua
        -Pepsi
        -Jugo
        -7-up
    </h3>

    {% endblock %}