{% extends "MiRestaurante/padre.html" %}
    {% load static }
{% block contenidoQueCambia %}

    <h1> RESTAURANTE </h1>
    <p> Somos una franquicia originada en Cataluña</p>
    <h3> Actualmente ubicados en CABA</h3>
    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Ffoodandpleasure.com%2Frestaurantes-bonitos-cdmx%2F&psig=AOvVaw0zJGnzIZPolb8pSF91t8lZ&ust=1679233968571000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLCKopbQ5f0CFQAAAAAdAAAAABAJ"></a>
     <p> {{ mensaje }}
     </p>
    {% endblock %}