{% extends "padre.html" %}

{% load static %}

{% block changed_content  %}

{% if crear_postre %}
    <h1 style="display: flex; justify-content: center;"> Nuevo postre </h1>
{% elif form %}
    <h1 style="display: flex; justify-content: center;"> Editar postre </h1>
{% endif %}

    {% if crear_postre.errors %}
    
    <p style="color: red">Datos incorrectos, por favor revisar.</p>

    {% endif %}

    {% if crear_postre %}
    <form style="display: flex; justify-content: center;" action="../nuevoJugador/" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {% elif form %}
    <form style="display: flex; justify-content: center;" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {% endif %}
    
       <table>
        {% if crear_postre %}
            {{crear_postre.as_table}}
        {% elif form %}
            {{form.as_table}}
        {% endif %}

       </table><br>

        <input type="submit" value="Enviar">

    </form>
    <p style="display: flex; justify-content: center;"></p>
{% endblock %}