<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTA DE PLATOS</title>
</head>
<body>
    <h1> Platos de LeVolant Restaurant</h1>
    <ul>
        {% for plato in object_list %}
        <li>
            <p>Plato: {{plato.nombre}}</p>
            <p>
                <a href="{% url 'Detail' plato.id %}">Ver</a>
                <a href="{% url 'Edit' plato.id %}">Editar</a>
                <a href="{% url 'Delete' plato.id %}">Borrar</a>
            </p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>